#container {
    /* background-color: rebeccapurple; */
    display: flex;
  }
  
  .commanClass {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 70px 10px;
  }
  
  #red {
    background-color: red;
  }
  
  #blue {
    background-color: blue;
  }
  
  #green {
    background-color: green;
  }
  
  #yellow {
    background-color: yellow;
  }
  
  p {
    margin: 0px 35px;
    font-size: 21px;
    font-weight: bold;
  }
  